.itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
h1::first-letter {
  text-transform: uppercase;
}
.cardContainer {
  overflow: hidden;
  width: 350px;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 40px;
}

.linkContainer {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContainer img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.itemTitle {
  font-size: 1.25rem;
  text-align: center;
  color: black;
  overflow: hidden;
  white-space: nowrap; /* Prevent wrapping */
  text-overflow: ellipsis; /* Show ellipsis */
  width: 300px; /* Take full width of the container */
}

.itemButton {
  margin-top: auto;
  padding: 5px 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.itemButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .itemsContainer {
    padding: 20px;
    gap: 30px;
  }

  .cardContainer img {
    width: 100%;
    max-height: 25rem;
    object-fit: contain;
  }
}
