:root {
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --danger-color: rgb(220, 38, 38);
  --danger-hover-color: rgb(193, 3, 3);
  --success-color: #28a745;
  --success-hover-color: #218838;
  --font-size-large: 1.8rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
}

html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  height: 100%;
}

.itemCardContainer {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 40vw;
  width: 100%;
  height: 30vh;
}

.detailsLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.detailsLeft img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.detailsRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  max-width: 50%;
  width: 100%;
  height: 100%;
}

.detailsRight h1 {
  font-size: var(--font-size-medium);
  text-align: end;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  width: 100%;
  padding: 0;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.price p {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: #333;
  margin: 0;
}

.counts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px 0;
  transition: background-color 0.3s ease;
}

.price button:hover {
  background-color: var(--primary-color-hover);
}

.price button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete {
  background-color: var(--danger-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.icon {
  fill: white;
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.delete:hover {
  background-color: var(--danger-hover-color);
}

span {
  margin: 0 8px;
  font-size: var(--font-size-small);
  font-weight: bold;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout p {
  margin: 0;
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.checkout button {
  background-color: var(--success-color);
  margin: 2.5rem 0;
  padding: 10px 15px;
  font-size: var(--font-size-medium);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout button:hover {
  background-color: var(--success-hover-color);
}

@media (max-width: 768px) {
  .cart {
    padding: 0;
    overflow-y: auto;
  }

  .itemCardContainer {
    max-width: 90vw;
    width: 100%;
    height: calc(100vh - 80px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .detailsLeft {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
  }

  .detailsRight {
    height: 50%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex: 1;
  }

  .detailsRight h1 {
    font-size: var(--font-size-medium);
    padding: 0;
    -webkit-line-clamp: 3;
    text-align: center;
    padding-top: 0.5rem;
  }

  .price p {
    font-size: var(--font-size-medium);
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .price {
    align-items: center;
  }

  .checkout button {
    width: 100%;
  }

  .counts {
    justify-content: center;
  }
}
