.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.custom-navbar .navbar-brand {
  font-size: 1.75rem;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
}

.nav-link.active-link {
  color: #000;
  font-weight: 700;
}

.custom-navbar {
  background-color: #f8f9fa; /* Light background color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
