.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

.custom-navbar img {
  height: 40px;
  width: auto;
  margin-right: 10px;
  display: block;
  object-fit: contain;
}

.me-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-navbar .navbar-brand {
  font-size: 1.75rem;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
}

.nav-link.active-link {
  color: #000;
  font-weight: 700;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.active-link {
  font-weight: bold;
  font-size: 24px;
}

.active-icon {
  color: rgb(11, 0, 0);
  font-size: 24px;
}

.count {
  position: absolute;
  top: -8px;
  right: -20px;
  background-color: rgb(205, 0, 0);
  color: white;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
