html,
body {
  height: 100%;
  margin: 0;
}
.itemCardContainer {
  width: 60%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productDetails {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70vh;
}

.detailsLeft img {
  width: 50%;
  max-height: 50%;
}

.detailsLeft {
  width: 50%;
  display: flex;
  justify-content: center;
  object-fit: contain;
}
.itemCardContainer h1 {
  font-size: 2rem;
  text-align: center;
  color: black;
  width: 100%;
}

.detailsRight {
  width: 50%;
}
.itemButton {
  margin-top: auto;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 5px 10px;
}

.itemButton:hover {
  background-color: #0056b3;
}
